


























/* Ogólne style */
.police__title {
    font-size: 2.5rem; 
    text-align: center;
    color: white; 
    margin-bottom: 20px;
}

.police__text {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.police__subtitle {
    color: green;
    font-size: 1.5rem; 
    text-align: center;
}

.police__position {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px;
}

.police__description {
    color: white;
    font-size: 1.2rem; 
    margin-right: 20px;
}

.police__positive {
    font-size: 1.5rem; 
    color: white;
}

.police__images {
    width: 100%; 
    max-width: 400px; 
    height: auto;
    border-radius: 10px;
    object-fit: cover; 
    transition: transform 0.3s ease-in-out; /* Animacja powiększania */
}

.police__images:hover {
    transform: scale(1.1); /* Powiększenie obrazu przy najechaniu */
}

/* Style dla umiejętności */
.skills__container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.skills__item {
    text-align: center;
    color: white;
    font-size: 1.25rem;
    width: 100px;
}

.skills__percentage {
    font-size: 2rem; 
    font-weight: bold;
    color: white; /* Biały kolor tekstu */
    opacity: 0; /* Zaczyna niewidoczna */
    animation: increase 1s forwards; /* Animacja na rosnący procent */
}

@keyframes increase {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Media queries */

@media (max-width: 1024px) {
    /* Styl dla tabletów */
    .police__title, .police__text, .police__subtitle {
        font-size: 2rem;
    }

    .skills__item {
        width: 120px;
    }

    .police__position {
        flex-direction: column; /* Układ pionowy dla mniejszych ekranów */
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    /* Styl dla urządzeń mobilnych */
    .police__title, .police__text, .police__subtitle {
        font-size: 1.5rem;
    }

    .police__images {
        max-width: 100%; /* Zmniejszenie maksymalnej szerokości obrazu */
    }

    .skills__item {
        width: 80px;
    }

    .skills__percentage {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    /* Styl dla małych ekranów, np. telefonów */
    .police__title {
        font-size: 1.3rem;
    }

    .police__text {
        font-size: 1.2rem;
    }

    .police__subtitle {
        font-size: 1.3rem;
    }

    .police__position {
        flex-direction: column;
        gap: 10px; /* Mniejsze odstępy */
    }

    .police__images {
        max-width: 90%; /* Zmniejszenie maksymalnej szerokości obrazów */
    }

    .skills__container {
        flex-direction: column; /* Kolumnowy układ dla małych ekranów */
        align-items: center;
    }

    .skills__item {
        width: 100%; /* Używamy pełnej szerokości */
        font-size: 1.1rem;
    }
}
