.footer {
    color: green; /* Zmiana koloru tekstu na biały, aby był bardziej czytelny */
    text-align: center;
}

.footer__text {
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
}

.footer__position {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.footer__security {
    background-color: rgb(188, 188, 32);
    font-size: 10px; /* Użycie rem do lepszej skalowalności */
    padding: 10px;
    color: #fff; /* Kolor tekstu na ciemniejszy dla lepszej widoczności */
    font-weight: bold;
}

.footer__media {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    margin-top: 5px;
}

.footer__icons {
    width: 20px; /* Zmniejszenie rozmiaru ikon */
    height: 20px;
    transition: transform 0.3s ease-in-out; /* Animacja przy najechaniu */
}

.footer__icons:hover {
    transform: scale(1.2); /* Powiększenie ikony przy hover */
}

.footer__github {
    width: 25px;
    height: 25px;
    border-color: blueviolet;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%; /* Zaokrąglenie bordera */
    transition: box-shadow 0.3s ease-in-out; /* Animacja cienia */
    transition: transform 0.3s ease-in-out; /* Animacja przy najechaniu */
}

@media (min-width: 600px) {
    .footer {
        margin-top: 25px; /* Zmniejszenie marginesu górnego */
        padding-bottom: 10px;
    }
    
    .footer__text {
        padding: 40px;
        font-size: 25px;
    }
    
    .footer__security {
        font-size: 15px
    }
    
    .footer__media {
        gap: 10px;
        margin-top: 10px;
    }
    
    .footer__icons {
        width: 30px; /* Zmniejszenie rozmiaru ikon */
        height: 30px;
    }
    
    .footer__github {
        width: 38px;
        height: 38px;
    }
}


@media (min-width: 1024px) {
    
 .footer {
    margin-top: 50px; /* Zmniejszenie marginesu górnego */
    padding-bottom: 20px;
}

.footer__text {
    padding: 50px;
    font-size: 30px;
}

.footer__security {
    font-size: 20px
}

.footer__media {
    gap: 20px;
    margin-top: 10px;
}

.footer__icons {
    width: 40px; /* Zmniejszenie rozmiaru ikon */
    height: 40px;
}

.footer__github {
    width: 50px;
    height: 50px;
}

.footer__github:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Dodanie cienia przy hover */
    transform: scale(1.2);
}
}