
 .footer {
    margin-top: 50px; /* Zmniejszenie marginesu górnego */
    background-color: rgb(0,0,0); /* Dodanie ciemnego tła, aby stopka była bardziej wyrazista */
    padding-bottom: 20px;
    padding: 0;
}

.footer__text {
    padding: 50px;
    color: green; /* Zmiana koloru tekstu na biały, aby był bardziej czytelny */
    text-align: center;
    font-size: 1.5rem; /* Użycie rem zamiast px, aby zachować responsywność */
}

.footer__position {
    display: flex;
    justify-content: space-between; /* Może lepiej użyć space-between dla bardziej zrównoważonego układu */
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.footer__security {
    background-color: rgb(188, 188, 32);
    font-size: 1.2rem; /* Użycie rem do lepszej skalowalności */
    padding: 10px;
    color: #fff; /* Kolor tekstu na ciemniejszy dla lepszej widoczności */
    font-weight: bold;
}

.footer__media {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
}

.footer__icons {
    width: 40px; /* Zmniejszenie rozmiaru ikon */
    height: 40px;
    transition: transform 0.3s ease-in-out; /* Animacja przy najechaniu */
}

.footer__icons:hover {
    transform: scale(1.2); /* Powiększenie ikony przy hover */
}

.footer__github {
    width: 50px;
    height: 50px;
    border-color: blueviolet;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%; /* Zaokrąglenie bordera */
    transition: box-shadow 0.3s ease-in-out; /* Animacja cienia */
    transition: transform 0.3s ease-in-out; /* Animacja przy najechaniu */
}

.footer__github:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Dodanie cienia przy hover */
    transform: scale(1.2);
}
