.container__circle {
    padding-bottom: 25px;
    display: flex;
    flex-direction: column; /* Ustawia elementy w kolumnie */
    align-items: center; /* Wyrównuje wszystko do środka */
}

.circle {
    width: 200px; /* Szerokość kółka */
    height: 200px; /* Wysokość kółka */
    overflow: hidden;
    border-radius: 50%; /* Ustawia kształt kółka */
}

.circle__picture {
    width: 100%; /* Dostosowuje obraz do kółka */
    height: auto; /* Zachowuje proporcje */
}

.circle__text {
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}



@media (min-width: 600px) {
    .circle {
        width: 300px; /* Zwiększamy szerokość kółka */
        height: 300px; /* Zwiększamy wysokość kółka */
    }

    .circle__text {
        font-size: 25px;
        margin-top: 15px; /* Mniejszy odstęp między obrazem a tekstem */
    }
}

@media (min-width: 1024px) {
    .container__circle {
        padding-bottom: 25px;
        padding-left: 100px;
        display: flex;
        flex-direction: row; /* Ustawia elementy w kolumnie */
        align-items: flex-end; /* Wyrównuje wszystko do środka */
    }

    .circle {
        width: 250px; /* Szerokość kółka */
        height: 250px; /* Wysokość kółka */
    }

    .circle__text {
        font-size: 25px;
        margin-top: 15px; /* Mniejszy odstęp między obrazem a tekstem */
    }
}