



/* 1. Styl domyślny dla urządzeń mobilnych (mobile-first) */
.container__circle {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.circle {
    width: 250px; /* Mniejsza szerokość kółka na telefonach */
    height: 250px; /* Mniejsza wysokość kółka */
    overflow: hidden;
    border-radius: 50%;
}

.circle__picture {
    width: 100%; /* Dostosowuje obraz do kółka */
    height: auto;
    object-fit: cover; /* Zapewnia lepsze dopasowanie obrazu w kółku */
}

.circle__text {
    font-size: 18px; /* Mniejsza czcionka na telefonie */
    padding-top: 180px; /* Dostosowanie pozycji tekstu do mniejszego kółka */
    text-align: center; /* Centrujemy tekst wewnątrz kółka */
    color: #333; /* Kolor tekstu */
}



/* 2. Styl dla tabletów (od 600px szerokości) */
@media (min-width: 600px) {
    .circle {
        width: 300px; /* Większa szerokość kółka na tabletach */
        height: 300px; /* Większa wysokość kółka */
    }

    .circle__text {
        font-size: 22px; /* Zwiększamy czcionkę */
        padding-top: 230px; /* Dostosowujemy pozycję tekstu */
    }
}





/* 3. Styl dla desktopów (od 1024px szerokości) */
@media (min-width: 1024px) {
    .circle {
        width: 400px; /* Większe kółko na desktopie */
        height: 400px; /* Większa wysokość kółka */
    }

    .circle__text {
        font-size: 28px; /* Większa czcionka */
        padding-top: 300px; /* Dostosowanie położenia tekstu */
    }
}





















