.text {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    color: aliceblue;
    text-align: center;
    font-size: 1.5rem; /* Użycie rem do responsywności */
}

.icons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 20px; /* Większy odstęp między ikonami */
}

.icon {
    border: 1px solid black;
    padding: 12px; /* Zwiększenie paddingu dla większego obszaru wokół ikon */
    border-radius: 50%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Dodanie animacji */
    transform-origin: center; /* Utrzymywanie proporcji podczas skalowania */
}

/* Tylko dla ikony, na którą najedzie użytkownik */
.icon:hover {
    transform: scale(1.5); /* Powiększenie ikony przy hoverze */
    box-shadow: 0 4px 8px rgba(4, 75, 11, 0.3); /* Cień przy hoverze */
}

/* Rozmiar ikon */
.icon svg {
    width: 32px; /* Powiększenie rozmiaru ikon */
    height: 32px;
}
