 
    .btn {
        background-color: #45a049; /* Zielony kolor */
        border: none; /* Bez obramowania */
        color: white; /* Biały tekst */
        padding: 15px 32px; /* Wewnętrzne odstępy */
        text-align: center; /* Wyśrodkowanie tekstu */
        text-decoration: none; /* Bez podkreślenia */
        display: inline-block; /* Inline block */
        font-size: 16px; /* Rozmiar czcionki */
        margin: 4px 2px; /* Margines */
        cursor: pointer; /* Kursor w postaci wskaźnika */
        border-radius: 8px; /* Zaokrąglone rogi */
        transition: background-color 0.3s; /* Animacja tła */
    }

    .btn:hover {
        background-color: #4c77af; /* Zmiana koloru przy najeździe */
    }

