
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trzy równe kolumny */
    gap: 100px; /* Odstęp między kolumnami */
    text-align: center;
    font-size: 20px;
    font-style: initial;
    color: #0f021d;
    padding-bottom: 300px;
};
