.text {
    font-size: 18px; /* Rozmiar czcionki */
    background: linear-gradient(45deg, #ff0080, #ff8c00); /* Gradient tła */
    -webkit-background-clip: text; /* Użycie gradientu jako tło tekstu */
    -webkit-text-fill-color: transparent; /* Ukrycie koloru wypełnienia tekstu */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Cień tekstu */
    animation: glow 1.5s infinite alternate; /* Animacja świecenia */
}

@keyframes text {
    0% {
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    }
    100% {
        text-shadow: 0 0 20px rgba(255, 136, 0, 0.7), 
                     0 0 30px rgba(255, 0, 128, 0.7); /* Intensyfikacja cienia */
    }
}

p {
    font-size: 24px; /* Rozmiar czcionki dla paragrafu */
    color: #b89d08; /* Kolor tekstu paragrafu */
    margin-top: 20px; /* Margines nad paragrafem */
    transition: color 0.3s; /* Animacja koloru */
}

p:hover {
    color: #ff8c00; /* Zmiana koloru przy najeździe */
}