
.message {
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    animation: fadeIn 2s ease-in-out, bounce 1s infinite;
    padding-top: 120px;
    padding-bottom: 60px;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.link {
    padding-bottom: 120px;
    color: red;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
}