.police {
    padding-top: 50px;
}

.police__title {
    text-align: center;
    font-size: 25px;
    color: rgb(55, 13, 224);
    font-style: italic;
    margin-bottom: 40px;
}

.police__text {
    font-style: unset;
    font-size: 20px;
    text-align: unset;
    padding-left: 160px;
    padding-right: 160px;
    margin-bottom: 40px;
}

.police__list {
    list-style-type: none; /* Usuwa kropki */
    padding: 0; /* Usuwa domyślne wcięcie */
    margin: 0; /* Usuwa domyślne marginesy */
    font-weight: bold;
}

.police__container {
    display: flex;
    align-items: center; /* Wyrównuje elementy w pionie */
}

.police__picture {
    width: 400px; /* Ustaw szerokość obrazków */
    height: auto; /* Utrzymuje proporcje obrazków */
}

.police__department {
    flex-grow: 1; /* Sprawia, że tekst zajmuje dostępne miejsce */
    text-align: center; /* Wyrównuje tekst do środka */
    padding: 24px 20px; /* Dodaje odstępy po bokach tekstu */
    cursor: pointer
}

.police__department:hover {
    background-color: #f0f0f0; /* Zmiana koloru tła przy najeździe */
}
