.police__list {
    list-style-type: none; /* Usuwa kropki */
    padding: 0; /* Usuwa domyślne wcięcie */
    margin: 0; /* Usuwa domyślne marginesy */
    font-weight: bold;
}

.police__container {
    display: flex;
    align-items: center; /* Wyrównuje elementy w pionie */
}

.police__picture {
    width: 100px; /* Ustaw szerokość obrazków */
    height: auto; /* Utrzymuje proporcje obrazków */
}

.police__department {
    flex-grow: 1; /* Sprawia, że tekst zajmuje dostępne miejsce */
    text-align: center; /* Wyrównuje tekst do środka */
    padding: 0 20px; /* Dodaje odstępy po bokach tekstu */
}

.police__department:hover {
    background-color: #f0f0f0; /* Zmiana koloru tła przy najeździe */
}
