

.project__header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project__position {
    font-size: 24px; /* Rozmiar czcionki dla paragrafu */
    color: #b89d08; /* Kolor tekstu paragrafu */
    margin-top: 20px; /* Margines nad paragrafem */
    transition: color 0.3s; /* Animacja koloru */
}

.project__position:hover {
    color: #ff8c00; /* Zmiana koloru przy najeździe */
}

.project__icons {
    color: black;
    transition: color 1s;
    font-size: 20px;
}

.project__icons:hover {
    color: purple;
    font-size: 22px;
}

.project__place {
    display: flex;
    align-items: center;
}

.project__text {
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6; /* Opcjonalnie, dla lepszej czytelności */
}

.project__links {
    display: block;
    
}