

    .btn__container {
        background-color: #45a049; /* Zielony kolor */
        border: none; /* Bez obramowania */
        color: white; /* Biały tekst */
        padding: 15px 32px; /* Wewnętrzne odstępy */
        text-align: center; /* Wyśrodkowanie tekstu */
        text-decoration: none; /* Bez podkreślenia */
        display:inline-block; /*Inline block */
        font-size: 16px; /* Rozmiar czcionki */
        margin: 4px 2px; /* Margines */
        cursor: pointer; /* Kursor w postaci wskaźnika */
        border-radius: 8px; /* Zaokrąglone rogi */
        transition: background-color 0.3s; /* Animacja tła */
        
    }

    .btn__container:hover {
        background-color: #4c77af; /* Zmiana koloru przy najeździe */
    }

   .university__title {
        text-align: center;
        font-size: 25px;
        color: rgb(55, 13, 224);
        font-style: italic;
        margin-bottom: 40px;
   }

   .university__text {
        font-size: 20px;
        font-style: oblique;
        padding-right: 300px;
   }    
    
   .university__question {
        color: #45a049;
        font-size: 25px;
        padding-top: 50px;
        font-weight: bold;
        text-align: right;
   }

   .university__question:hover{
        color: #4c77af;
   }